<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
	<persistence-unit name="JPA_Demo">
		<class>dal.jpa.entities.CurrentDeptEmp</class>
		<class>dal.jpa.entities.Department</class>
		<class>dal.jpa.entities.DeptEmp</class>
		<class>dal.jpa.entities.DeptEmpPK</class>
		<class>dal.jpa.entities.DeptEmpLatestDate</class>
		<class>dal.jpa.entities.DeptManager</class>
		<class>dal.jpa.entities.DeptManagerPK</class>
		<class>dal.jpa.entities.Employee</class>
		<class>dal.jpa.entities.Salary</class>
		<class>dal.jpa.entities.SalaryPK</class>
		<class>dal.jpa.entities.Title</class>
		<class>dal.jpa.entities.TitlePK</class>
		<properties>
			<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
			<property name="hibernate.connection.url">jdbc:mysql://192.168.200.55:3306/employees</property>
			<property name="hibernate.connection.username">demo_user</property>
			<property name="hibernate.connection.password">parola</property>
			<property name="hibernate.default_schema">employees</property>
			<property name="hibernate.show_sql">true</property>
			<property name="hibernate.format_sql">true</property>
			<property name="hibernate.hbm2ddl.auto">validate</property>
		</properties>
	</persistence-unit>
</persistence>
